* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}
body {
    height: 100vh;
    background: #e3f4fe;
}
.weather-card {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffcd00;
    color: #000;
    padding: 30px;
    border-radius: 16px;
}

form {
    display: flex;
    gap: 24px;
}
form .inputbox{
    width: 100%;
    font-size: 22px;
    color: #000;
}
form .submit {
    min-width: 150px;
    color: #000;
    background: #ffff;
    border: 2px solid #000;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.4s;
}
form .submit:focus {
    transform: scale(0.95);
}
form input {
    padding: 8px 24px;
}

.weather-box div+div {
    margin-top: 16px;
}

.weather-box div {
    font-size: 24px;
}
.error{
    margin-top: 16px;
    font-size: 24px;
}

.main-box {
    display: flex;
    align-items: center;
    height: 100vh;
}

@media (max-width: 800px) {
    .weather-card {
        margin: 0 16px;
    }
}
@media (max-width: 576px) {
    form {
        flex-direction: column;
    }
}